#root {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: transparent;
}

.App {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  background-color: transparent;
}

